<footer>
<p>© 2017</p>
<ul>
  <li><a href="">Over Frisse Helden</a></li>
  <li><a href="">Scholen (software stagecoördinatie)</a></li>
  <li><a href="">Voorwaarden & privacy</a></li>
</ul>
<ul>
  <li><a href="">Instagram</a></li>
  <li><a href="">Twitter</a></li>
  <li><a href="tel:0683673446">Bellen</a></li>
</ul>
</footer>
