<footer>
<p>© 2017</p>
<ul>
  <li><a href="/over">Over Frisse Helden</a></li>
  <li><a href="/scholen">Scholen (software stagecoördinatie)</a></li>
  <li><a href="/voorwaarden">Voorwaarden &amp; privacy</a></li>
</ul>
<ul>
  <li><a href="https://www.instagram.com/fresh.heroes" target="_blank" rel="noopener">Instagram</a></li>
  <li><a href="https://twitter.com/freshheroes" target="_blank" rel="noopener">Twitter</a></li>
  <li><a href="tel:0683673446">Bellen</a></li>
</ul>
</footer>
