<header>
  <%- include ../components/nav %>
  <section>
    <picture>
      <source media="(min-width: 40em)"
              src="/images/logo.svg">
      <source media="(min-width: 6em)"
              src="/images/logo_mobile.svg">
      <img src="/images/logo.svg"
           alt="Fresh Heroes Logo">
    </picture>
  </section>
</header>
