<nav>
  <ul>
    <li><a href="/">Stageplekken</a></li>
    <li><a href="/studenten">Studenten</a></li>
    <li><a href="/bedrijven">Bedrijven</a></li>
  </ul>
  <ul>
    <li><a class="button" href="/inloggen">Inloggen</a></li>
    <li><a class="button" href="/inloggen">Inloggen</a></li>
  </ul>
</nav>
