<nav>
  <ul>
    <li><a href="#">Stageplekken</a></li>
    <li><a href="#">Studenten</a></li>
    <li><a href="#">Bedrijven</a></li>
  </ul>
  <div>
    <a href="#">Inloggen</a>
    <a href="#">Inschrijven</a>
  </div>
</nav>
