<nav>
  <ul>
    <li><a href="/stageplekken">Stageplekken</a></li>
    <li><a href="/studenten">Studenten</a></li>
    <li><a href="/bedrijven">Bedrijven</a></li>
  </ul>
  <div>
    <a class="button" href="/inloggen">Inloggen</a>
    <a class="button" href="/inschrijven">Inschrijven</a>
  </div>
</nav>
