<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="/page.css">
</head>
<body>
  <% include partials/header %>
  <main>
    <article>
      <h1>Over Fresh Heroes</h1>
      <p>
        We zien al te vaak dat de grootste verschillen tussen studenten tijdens de stageperiode ontstaan. Sommige studenten komen bij een stagebedrijf terecht waar ze zich thuis voelen, goed worden begeleid en benutten hierdoor al hun potentie. Anderen kiezen voor een makkelijkere weg, of hebben minder geluk met bijvoorbeeld de stagebegeleider.
      </p>

      <p>
        Helaas heeft de student dit niet altijd zelf in de hand. En dat terwijl een stageperiode in de creatieve wereld vaak zo bepalend is voor de eerste paar jaar van een carrière. Fresh Heroes is opgericht om creatieve vogels van de beste stageplek te voorzien, en tegelijkertijd bedrijven te voorzien van studenten die écht wat van hun carrière willen maken.
      </p>
    </article>

    <article>
      <h2>Matches van kwaliteit</h2>

      <p>
        Klinkt leuk, maar wat doet Fresh Heroes precies? Om studenten en bedrijven van de beste matches te voorzien, is het van belang dat we eerst weten met wie we te maken hebben. Aan de hand van uitgebreide gebruikersprofielen willen we de selecties baseren op meer dan alleen de portfolio’s. Dit moet het voortraject van het zoeken van een stageplek/stagiair(e) versnellen en leiden tot betere matches tussen de student en het bedrijf. Of een stagiair(e) potentie heeft en binnen de bedrijfscultuur past is volgens Fresh Heroes minstens net zo belangrijk als een beoordeling van het bestaande portfolio.
      </p>

      <a class="button" href="/inschrijven">Plaats vacature</a>
    </article>

    <article>
      <h2>Elke lichting iets beter</h2>

      <p>
        Fresh Heroes vraagt een bijdrage van de gebruiker in de vorm van een review na elke stage. Een kort verslag over de ervaring van de student over de stageplek maakt het platform na elke stageperiode iets transparanter. Zo houden we de kwaliteit van aangeboden stageplekken hoog, en kunnen we voor elke lichting geniale stagiair(es) íets meer betekenen.
      </p>
    </article>

  </main>
  <% include partials/footer %>
</body>
</html>
