<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="/page.css">
</head>
<body>
  <% include partials/header %>
  <main>
    <article>
      <h1>Hallo bedrijf.</h1>
      <p>
        Je bent waarschijnlijk nog op zoek naar een stagiair. Klopt? Dan zit je hier goed! Fresh Heroes biedt honderden potentiële stagiair(e)s, en wie weet zit je volgende ‘junior’ er wel tussen. Als je natuurlijk een aantrekkelijke stage-vacature plaatst.
      </p>

      <p>
        Fresh Heroes helpt bij het koppelen van de juiste studenten voor elk bedrijf. We matchen bedrijven met studenten die echt willen leren, en geven studenten een plek waar zij aan hun skills en portfolio kunnen werken. Deze matches worden gemaakt op basis van een uitgebreid profiel van zowel het bedrijf als de student. Tevens worden ervaringen van zowel de stagiair(e) als de stagebegeleiders gedocumenteerd. Op deze manier draagt Fresh Heroes bij aan de transparantie in de stagemarkt binnen de creatieve sector.
      </p>
    </article>

    <article>
      <h2>Aanbevolen door Fresh Heroes</h2>

      <p>
        Het kan verdomd lastig zijn om de juiste persoon voor je bedrijf te vinden. Dankzij de matches van Fresh Heroes komen studenten met potentie en culture fit bovendrijven. Het enige wat je als bedrijf nog hoeft te doen, is één van deze frisse helden aannemen. Waar wacht je nog op?
      </p>

      <a class="button" href="aanmelden/bedrijf">Plaats vacature</a>
    </article>

    <article>
      <h2>Waarom Fresh Heroes?</h2>

      <p>
        Waarom niet? We helpen je bij het vinden van de juiste match en promoten jullie bedrijfsnaam onder toekomstige young professionals.
      </p>

      <p>Fresh Heroes biedt het volgende:</p>
      <ul>
        <li>Studentenbestand met honderden potentiële stagiairs</li>
        <li>Eenvoudig portfolio's bekijken en studenten uitnodigen</li>
        <li>Merkpromotie onder young professionals</li>
        <li>Opbouwen van een profiel met waardevolle reviews van studenten</li>
      </ul>
    </article>
  </main>
  <% include partials/footer %>
</body>
</html>
