<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
</head>
<body>
  <% include partials/header %>
  <main>
    <h1>Deze pagina is helaas niet beschikbaar.</h1>
    <p>
      Er zijn duizenden redenen te bedenken waarom je op deze pagina bent terechtgekomen. Gaan we niet doen. Het beste is om terug naar de homepage te gaan.
    </p>

    <img src="/src/images/grumpy_cat.png" alt="A Very Grumpy Cat">
  </main>
  <% include partials/footer %>
</body>
</html>
