<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="account.css">
</head>
<body class="account">
  <% include components/nav %>
  <main>
    <div>
      <h1>Inloggen</h1>
      <form method="post" action="/inloggen">
        <fieldset>
          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" />

          <label for="password">Wachtwoord</label>
          <input id="password" type="password" name="password" />
        </fieldset>
        <div>
          <button type="submit">Inloggen</button>
          <a href="/wachtwoord-vergeten">Wachtwoord vergeten?</a>
        </div>
      </form>
    </div>
    <aside>
      <p>Heb je nog geen account?</p>
      <a href="/inschrijven/student">Ik ben een student</a>
      <a href="/inschrijven/bedrijf">Ik ben een bedrijf</a>
    </aside>
  </main>
  <% include partials/footer %>
</body>
</html>
