<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="account.css">
</head>
<body>
  <% include components/nav %>
  <main>
    <div>
      <h1>Inloggen</h1>
      <form method="post" action="/inloggen">
        <fieldset>
          <label>
            E-mail
            <input type="email" name="email" />
          </label>

          <label>
            Wachtwoord
            <input type="password" name="password" />
          </label>
        </fieldset>
        <div>
          <button type="submit">Inloggen</button>
          <a href="/wachtwoord-vergeten">Wachtwoord vergeten?</a>
        </div>
      </form>
    </div>
    <aside>
      <p>Heb je nog geen account?</p>
      <a href="/inschrijven/student">Ik ben een student</a>
      <a href="/inschrijven/bedrijf">Ik ben een bedrijf</a>
    </aside>
  </main>
  <% include partials/footer %>
</body>
</html>
