<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="account.css">
</head>
<body>
  <% include components/nav %>
  <main>
    <div>
      <h1>Inschrijven</h1>
      <form method="post" action="/inloggen">
        <fieldset>
          <label>
            Voornaam
            <input type="firstname" name="firstname" />
          </label>

          <label>
            Achternaam
            <input type="secondname" name="secondname" />
          </label>

          <label>
            Wachtwoord
            <input type="password" name="password" />
          </label>

          <label>
            Herhaal wachtwoord
            <input type="password" name="password" />
          </label>

          <p>
            Door je in te schrijven ga je akkoord met de <a href="/algemene-voorwaarden">algemene voorwaarden</a> en het <a href="/privacybeleid">privacybeleid</a>.
          </p>
        </fieldset>
        <div>
          <button type="submit">Inschrijven</button>
        </div>
      </form>
    </div>
    <aside>
      <p>Studentproof</p>
      <p>
        Je carriere begint met een goede stage.
        Wij helpen jou bij het vinden van de beste stageplekken!
      </p>

      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px" viewBox="442 17 17 15">
            <polyline id="Line" stroke="#3DDBB1" stroke-width="3" stroke-linecap="square" fill="none" points="445 25 449 29 456 20"></polyline>
          </svg>
          Gratis voor studenten
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px" viewBox="442 17 17 15">
              <polyline id="Line" stroke="#3DDBB1" stroke-width="3" stroke-linecap="square" fill="none" points="445 25 449 29 456 20"></polyline>
          </svg>
          Elke dag een vers aanbod stageplekken
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px" viewBox="442 17 17 15">
              <polyline id="Line" stroke="#3DDBB1" stroke-width="3" stroke-linecap="square" fill="none" points="445 25 449 29 456 20"></polyline>
          </svg>
          Direct op de hoogte van de voortgang van lopende sollicitaties
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px" viewBox="442 17 17 15">
              <polyline id="Line" stroke="#3DDBB1" stroke-width="3" stroke-linecap="square" fill="none" points="445 25 449 29 456 20"></polyline>
          </svg>
          Nieuwsbrief met stageplekken die voor jou interessant zijn
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px" viewBox="442 17 17 15">
              <polyline id="Line" stroke="#3DDBB1" stroke-width="3" stroke-linecap="square" fill="none" points="445 25 449 29 456 20"></polyline>
          </svg>
          Heb je vragen, hulp nodig of een complimentje geven? Stuur Barry een appje naar
        </li>
      </ul>

      <p>
        Heb je vragen, hulp nodig of een complimentje geven? Stuur Barry een appje naar <a href="tel:0683673446">0683673446</a>
      </p>
      <a href="/inloggen">
        Ik heb al een account
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12">
          <path fill="none" stroke="#2B9CEC" stroke-linecap="square" stroke-width="2" d="M11,2 L15,6 L11,10 M1,6 L13,6"/>
        </svg>
      </a>
    </aside>
  </main>
  <% include partials/footer %>
</body>
</html>
