<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="/page.css">
</head>
<body>
  <% include partials/header %>
  <main>
    <article>
      <h1>Hi student.</h1>
      <p>
        Je leest dit waarschijnlijk omdat je voor je komende stageperiode hard op zoek bent naar een bedrijf. Daarvoor zit je op Fresh Heroes op de juiste plek. Hoe relaxed de studieperiode ook kan zijn, de verschillende stages zijn best belangrijk voor de start van je carrière.
      </p>

      <p>
        En dat is precies waarom je alles uit je stageperiode wilt halen; dit is hét moment om je skills te laten zien en veel nieuwe dingen te leren. Jouw portfolio, je eigen verhaal en ervaring maken jou als Fresh Hero uniek. De stageperiode is de tijd van het werkveld ontdekken en het opbouwen van een netwerk. De tijd van het vallen en opstaan.
      </p>
    </article>

    <article>
      <h2>Waarom Fresh Heroes?</h2>

      <p>
        Het kiezen voor een stageplek binnen je comfortzone is natuurlijk aanlokkelijk; makkelijke klussen en veel vrije tijd. Klinkt lekker, maar wees eerlijk: in welke wereld is dát een goed idee? Diep van binnen wil je een stageplek bij een bedrijf waar jij je thuisvoelt, en begeleiding van iemand krijgen die jou het beste uit jezelf kan laten halen. Klinkt heftig, maar daarom zijn wij er om jou te helpen. Dus! Zet je schouders er onder, check ons aanbod en vind een verse stageplek waar je echt wat aan hebt.

        Groeten,
        Frisse ex-studenten
      </p>

      <a class="button" href="/inschrijven/student">Schrijf je nu in</a>
    </article>

    <article>
      <h2>What’s in it for you?</h2>

      <p>
        We snappen dat je al 27 accounts hebt, maar maak ‘m ook hier nog even aan. Met een eigen account zie je precies wanneer jouw sollicitatie is gelezen, en kunnen we je beter helpen bij het vinden van een mooie stageplek.
      </p>

      <ul>
        <li>Solliciteer eenvoudig en snel bij meerdere bedrijven</li>
        <li>Blijf up-to-date over je lopende sollicitatie(s)</li>
        <li>
          Ontvang vanaf twee maanden voor je volgende stageperiode dagelijks een update over de meest verse stageplekken die bij jou passen
        </li>
        <li>De meest agressieve studentenkorting: gratis! WHAT?!</li>
      </ul>
    </article>
  </main>
  <% include partials/footer %>
</body>
</html>
