<!DOCTYPE html>
<html lang="nl">
<head>
  <%include partials/meta %>
  <link href="/page.css" rel="stylesheet">
  <title>Terms</title>
</head>
<body>
  <%include partials/header %>
  <main>
    <h1>Algemene voorwaarden freshheroes.nl</h1>Dit zijn de algemene voorwaarden van Freshheroes.nl (“Fresh Heroes”). Freshheroes.nl is ingeschreven bij de Kamer van Koophandel onder nummer 66180074.
    <h2>Toepasselijkheid</h2>
    <ul>
      <li>Deze algemene voorwaarden zijn van toepassing op alle diensten van Freshheroes.nl, op elke overeenkomst die tot stand komt tussen Freshheroes.nl en een Gebruiker (zoals hieronder gedefinieerd) van onze website www.freshheroes.nl (de “Website”) en alle rechtsbetrekkingen en (rechts)handelingen die daaruit voortvloeien. </li>
      <li>Door gebruik te maken van de Website en de diensten van Freshheroes.nl aanvaard je gebonden te zijn aan deze algemene voorwaarden. </li>
      <li>Onder “Gebruikers” wordt verstaan alle natuurlijke personen en rechtspersonen die de Website bezoeken, op de Website inloggen, en/of de op de Website verstrekte informatie gebruiken, delen en/of informatie plaatsen. </li>
      <li>Freshheroes.nl zal de algemene voorwaarden op verzoek kosteloos toezenden. De algemene voorwaarden zijn ook beschikbaar op www.freshheroes.nl. </li>
      <li>De bovenstaande definities worden in deze algemene voorwaarden zowel in enkelvoud als in meervoud gehanteerd. </li>
    </ul>
    <h2>Freshheroes.nl</h2>Freshheroes.nl is een online platform voor studenten en bedrijven in de creatieve sector om elkaar te matchen voor een stageplaats.
    <h2>Gebruik Website</h2>
    <ul>
      <li>Gebruiker dient bij het gebruik van de Website Nederlandse en andere toepasselijke wet- of regelgeving in acht te nemen. </li>
      <li>Gebruiker mag het volgende niet via de Website verspreiden: </li>
      <li>
        <ul>
          <li>Plagiaat en/of eerder gepubliceerde content; </li>
          <li>Pornografische filmpjes, afbeeldingen of andere media met een erotische inhoud; </li>
          <li>Teksten of afbeeldingen die beledigend, racistisch, discriminerend of haat zaaiend zijn; </li>
          <li>Ongevraagde reclame (spam); </li>
          <li>Foute of misleidende informatie; en/of </li>
          <li>Virussen, malware, spyware of andere software die bedoeld is om schade aan computers van ons of andere Gebruikers aan te richten. </li>
        </ul>
      </li>
      <li>Gebruiker mag geen account aanmaken onder de naam van iemand anders of zich op een andere manier voordoen als iemand anders. </li>
      <li>Gebruiker mag geen andere Gebruikers benaderen voor andere commerciële doeleinden dan waarvoor de Website is bedoeld. </li>
      <li>Indien Gebruiker melding wil maken van een andere Gebruiker die de Website misbruikt, kan Gebruiker een bericht sturen naar info@freshheroes.nl. </li>
      <li>Freshheroes.nl behoudt zich het recht voor de aan Gebruiker verstrekte informatie aan te passen of weg te laten, voordat deze kenbaar wordt gemaakt aan Gebruikers en/of op de Website wordt gepubliceerd. </li>
    </ul>
    <h2>Account</h2>
    <ul>
      <li>Gebruiker dient minstens 16 jaar oud zijn om een account aan te mogen maken. </li>
      <li>Gebruiker dient de inloggegevens van zijn account af te schermen voor anderen. </li>
      <li>Gebruiker dient zijn wachtwoord strikt geheim te houden. Freshheroes.nl mag ervan uitgaan dat alles wat er gebeurt op of met het account van Gebruiker, door Gebruiker gedaan wordt of onder toezicht van Gebruiker gebeurt. </li>
      <li>Indien Gebruiker denkt of weet dat zijn account misbruikt wordt, dient Gebruiker dat zo snel mogelijk melden bij Freshheroes.nl. Freshheroes.nl zal in dat geval gepaste maatregelen nemen. </li>
      <li>De Gebruiker is verantwoordelijk voor zijn gedrag en eventuele gegevens, tekst, bestanden, informatie, gebruikersnamen, beelden, foto’s, profielen, grafische kunst, werken waarop auteursrechten rusten, links en andere inhoud of materialen. </li>
      <li>Gebruiker is zelf verantwoordelijk voor de vertrouwelijke gegevens die hij aan Freshheroes.nl verstrekt of voor het weglaten van vertrouwelijke gegevens. </li>
      <li>Freshheroes.nl is gerechtigd om naar eigen inzicht te bepalen of een account zal worden verstrekt. </li>
      <li>Freshheroes.nl heeft te allen tijde het recht om accounts, profielen, data en overige informatie aan te passen of te verwijderen. Daarnaast heeft Freshheroes.nl het recht Gebruikers de toegang tot de Website te ontzeggen voor bepaalde of onbepaalde tijd. </li>
      <li>Indien Freshheroes.nl van mening is dat Gebruiker de wet of deze algemene voorwaarden overtreedt, kan Freshheroes.nl de Gebruiker (deels) uitsluiten van de Website. Freshheroes.nl kan de Gebruiker bijvoorbeeld uitsluiten van de Website door: </li>
      <li>
        <ul>
          <li>het account van Gebruiker te verwijderen; of </li>
          <li>onderdelen van de Website voor Gebruiker te blokkeren. </li>
        </ul>
      </li>
    </ul>
    <h2>Tarieven en betaling</h2>
    <ul>
      <li>Alle prijzen gehanteerd door Freshheroes.nl zijn inclusief BTW. </li>
      <li>Betaling van facturen van Freshheroes.nl dient binnen 14 dagen dagen na factuurdatum te geschieden. </li>
      <li>In geval van niet of niet-tijdige betaling, is de Gebruiker zonder ingebrekestelling van rechtswege in verzuim. Gebruiker is alsdan met ingang van de datum waarop de betaling verschuldigd werd, de wettelijke (handels)rente verschuldigd tot de dag der algehele voldoening, waarbij rente over een gedeelte van de maand wordt berekend over een gehele maand. </li>
      <li>Indien een Gebruiker in verzuim is, doordat bijvoorbeeld verschuldigde bedragen door Freshheroes.nl niet geïncasseerd kunnen worden, is Freshheroes.nl gerechtigd het account van de betreffende Gebruiker op te heffen. </li>
      <li>Freshheroes.nl is bevoegd de tarieven te verhogen indien: </li>
      <li>
        <ul>
          <li>Het geval van wettelijke prijsverhogingen; </li>
          <li>Binnen drie maanden na de totstandkoming van de overeenkomst en dit het gevolg is van wettelijke regelingen of bepalingen; en/of </li>
          <li>Vanaf drie maanden na de totstandkoming van de overeenkomst, indien de verhoging niet onredelijk. </li>
        </ul>
      </li>
    </ul>
    <h2>Aansprakelijkheid</h2>
    <ul>
      <li>Freshheroes.nl is geen partij bij de overeenkomsten die tussen Gebruikers tot stand komen en is dan ook niet verantwoordelijk voor de afspraken tussen Gebruikers. In het geval van een conflict dienen Gebruikers dit zelf op te lossen. </li>
      <li>Freshheroes.nl is slechts aansprakelijk voor directe schade die is ontstaan door grove schuld of opzet van Freshheroes.nl en tot maximaal de hoogte van het factuurbedrag of een bedrag van € 100, indien het factuurbedrag hoger dan € 100 ligt. </li>
      <li>Freshheroes.nl is niet aansprakelijk voor schade die het gevolg is of kan zijn van enig handelen of nalaten naar aanleiding van de informatie op de Website of die van: </li>
      <li>
        <ul>
          <li>gelinkte websites, ook niet indien sprake is onvolkomenheden; en/of </li>
          <li>onjuistheden in de door ons beschikbaar gestelde informatie. </li>
        </ul>
      </li>
      <li>Freshheroes.nl is niet verantwoordelijk voor fouten en/of onregelmatigheden in de functionaliteit van de Website en is niet aansprakelijk voor storingen of het vanwege andere redenen voor enige duur niet beschikbaar zijn van de Website. </li>
      <li>Freshheroes.nl neemt voor de beveiliging van gegevens van Gebruikers en derden alle zorg in acht die in redelijkheid van Freshheroes.nl kan worden verwacht. Freshheroes.nl is niet aansprakelijk voor verlies van gegevens of onbevoegde toegang tot gegevens die ontstaat ondanks de door Freshheroes.nl betrachte zorg. Freshheroes.nl is daarnaast niet aansprakelijk voor verlies van gegevens of onbevoegde toegang die ontstaat bij de transmissie van gegevens over openbare netwerken of bij gebruik van netwerken en systemen van derden. </li>
    </ul>
    <h2>Klachten</h2>
    <ul>
      <li>Bij Freshheroes.nl ingediende klachten worden binnen een termijn van 60 dagen beantwoord, gerekend vanaf de datum van ontvangst. </li>
      <li>Het recht op (gedeeltelijke) teruggave van de prijs of schadevergoeding komt te vervallen indien de klacht niet binnen de gestelde termijn worden gemeld, tenzij uit de aard van het geval een ruimere termijn voortvloeit. </li>
    </ul>
    <h2>Inschakeling derden</h2>
    <ul>
      <li>Freshheroes.nl is gerechtigd om bij de uitoefening van de diensten, waar nodig, derden in te schakelen. Freshheroes.nl is niet verplicht om Gebruiker hierover persoonlijk van op de hoogte te brengen. Gebruikmaking van de diensten van Freshheroes.nl impliceert dat de Gebruiker Freshheroes.nl machtigt om eventuele aansprakelijkheidsbeperkingen van derden mede namens Gebruiker te aanvaarden. </li>
      <li>Freshheroes.nl neemt uiterste zorgvuldigheid in acht bij het inschakelen van derden. Freshheroes.nl is echter niet aansprakelijk voor het handelen dan wel nalaten van deze ingeschakelde derden, tenzij er sprake is van opzet of grove nalatigheid van Freshheroes.nl. </li>
    </ul>
    <h2>Ongeldigheid</h2>Indien een bepaling van deze algemene voorwaarden nietig dan wel onverbindend mocht blijken te zijn, blijven Freshheroes.nl en Gebruiker gebonden aan de overige bepalingen van deze akte. Freshheroes.nl zal de nietige dan wel onverbindende bepaling(en) vervangen door een bepaling die wel verbindend is en waarvan de strekking zoveel mogelijk dezelfde is als die van de te vervangen bepaling(en), rekening houdend met het oogmerk van deze algemene voorwaarden.
    <h2>Wijzigingen</h2>Freshheroes.nl behoudt zich het recht voor om te allen tijde deze algemene voorwaarden eenzijdig aan te passen, aan te vullen en/of te wijzigen zonder een verplichting of mededeling daarvan te doen aan Gebruikers. De meest actuele versie van de algemene voorwaarden is de vinden op de Website. Door bezoek aan de Website wordt Gebruiker op de hoogte gesteld van de huidige algemene voorwaarden.
    <h2>Overige bepalingen</h2>
    <ul>
      <li>Freshheroes.nl mag te allen tijde aanpassingen maken aan het ontwerp of functioneren van de Website, waaronder de ten grondslag liggende technische mechanismen. </li>
      <li>Deze algemene voorwaarden gelden niet alleen voor Freshheroes.nl, maar ook voor andere personen die zijn betrokken of betrokken zijn geweest bij het gebruik maken van diensten of op wie in verband daarmee enige aansprakelijkheid rust of zou kunnen rusten. Dit geldt tevens voor hun rechtsopvolgers onder algemene titel. </li>
    </ul>
    <h2>Toepasselijk recht en forumkeuze</h2>
    <ul>
      <li>Deze algemene voorwaarden, en alle niet-contractuele rechten en verplichtingen daaruit voortvloeiende, worden in alle opzichten beheerst door het Nederlands recht. </li>
      <li>Alle geschillen tussen Freshheroes.nl en Gebruikers zullen in eerste instantie worden beslecht door de bevoegde rechter van Rechtbank Amsterdam. </li>
    </ul>
  </main><%include partials/footer %>
</body>
</html>
