<!DOCTYPE html>
<html lang="nl">
<head>
  <% include partials/meta %>
  <link rel="stylesheet" href="/page.css">
</head>
<body>
  <% include partials/header %>
  <main>
    <div>
      <h1><%= vacancy.name %></h1>
      <p><%= vacancy.description %></p>
    </div>
    <aside>

    </aside>
  </main>
  <% include partials/footer %>
</body>
</html>
