section {
  background: url('../images/banana-pattern.png');
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3em;
  min-height: 19em;
}

section > div {
  display: flex;
  flex-direction: row;
}

section form {
  background: #fff;
  max-width: 35em;
  padding: 1.25em;
}

section h3 {
  margin: 0;
}

section p {
  color: #999;
  max-width: inherit;
  margin: 0.5em 0 1em;
}

section span {
  display: flex;
  flex-direction: row;
  width: 100%;
}

section select,
section button {
  width: 100%;
}

@media screen and (min-width: 40em) {
  section span {
    flex: 1;
  }

  section select {
    margin-bottom: 0;
    margin-right: 0.5em;
  }

  section select,
  section button {
    width: initial;
  }

  section select:first-child {
    width: 100%;
  }
}
