:root {
  --wrapper-width: 72em;
  --text-grey: #b3b3b3;
}

main {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

form {
  width: 100%;
  position: relative;
}

form > fieldset:first-child {
  background-image: url(/images/pattern-superman.png);
  width: 100%;
  min-width: 100%;
  overflow: scroll;
  position: relative;
  padding: 0;
}

form > fieldset:first-child span::after {
  content: '';
  font-size: 16px;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
  background-color: #ebebeb;
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c23b0;
}

form > fieldset:first-child input:checked + label span::after {
  content: '✓';
}

form > fieldset:first-child ul {
  min-width: 45em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 1em;
}

@media screen and (min-width: 64em) {
  form > fieldset:first-child ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--wrapper-width);
    margin: 0 auto;
  }

  form > fieldset:first-child li {
    margin: 0.2em;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 10em;
  }
}

form > fieldset:first-child label {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.06);
}

form > fieldset:first-child span:first-child {
  text-transform: uppercase;
  color: var(--text-grey);
  font-size: 0.75em;
  font-weight: 700;
}
