:root {
  --wrapper-width: 72em;
  --text-grey: #b3b3b3;
}

main {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  font-size: 1rem;
}

input[type=checkbox]:focus {
  outline: 2px solid #6c23b0;
}

.search {
  position: relative;
}

.search input[type=search][name=q] {
  padding-left: 2em;
}

.search::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23999' fill-rule='evenodd'%3E%3Cpath d='M6 10c2.2 0 4-1.8 4-4S8.2 2 6 2 2 3.8 2 6s1.8 4 4 4zm0 2c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zM9.3 10.7l5 5 1.4-1.4-5-5'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  bottom: 1.7em;
  left: 1.5em;
}

form {
  width: 100%;
  position: relative;
}

form > fieldset:first-child {
  background-image: url(/images/pattern-superman.png);
  width: 100%;
  min-width: 100%;
  overflow: scroll;
  position: relative;
  padding: 0;
}

form > fieldset:first-child input[type=checkbox],
form > fieldset:first-child input[type=radio] {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

fieldset:first-child ul {
  min-width: 45em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 1em;
}

@media screen and (min-width: 64em) {
  fieldset:first-child ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--wrapper-width);
    margin: 0 auto;
  }

  fieldset:first-child li {
    margin: 0.2em;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 10em;
  }
}

fieldset:first-child label {
  background: white;
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

fieldset:first-child span {
  text-transform: uppercase;
  color: var(--text-grey);
  font-size: 0.75em;
  font-weight: 700;
}

fieldset:first-child p {
  font-size: 0.875em;
}

fieldset:first-child span::after {
  content: '';
  font-size: 1rem;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: 1px solid #bfbfbf;
  background: #ebebeb;
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c23b0;
}

fieldset:first-child input:checked + label span::after {
  content: '✓';
}

fieldset:first-child input:checked + label,
fieldset:first-child input:checked + label span,
fieldset:first-child label:hover,
fieldset:first-child label:hover span,
fieldset:first-child input:focus + label,
fieldset:first-child input:focus + label span {
  color: white;
}

fieldset:first-child label:hover,
fieldset:first-child input:focus + label {
  animation: animatedBackground 2s infinite linear;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 360px;
  }

  100% {
    background-position: 0 0;
  }
}

fieldset:first-child li:nth-child(1) label:hover,
fieldset:first-child li:nth-child(1) input:focus + label,
fieldset:first-child li:nth-child(1) input:checked + label {
  background: url(/images/p-development.png);
}

fieldset:first-child li:nth-child(2) label:hover,
fieldset:first-child li:nth-child(2) input:focus + label,
fieldset:first-child li:nth-child(2) input:checked + label {
  background: url(/images/p-design.png);
}

fieldset:first-child li:nth-child(3) label:hover,
fieldset:first-child li:nth-child(3) input:focus + label,
fieldset:first-child li:nth-child(3) input:checked + label {
  background: url(/images/p-motion.png);
}

fieldset:first-child li:nth-child(4) label:hover,
fieldset:first-child li:nth-child(4) input:focus + label,
fieldset:first-child li:nth-child(4) input:checked + label {
  background: url(/images/p-business.png);
}

fieldset:first-child li:nth-child(5) label:hover,
fieldset:first-child li:nth-child(5) input:focus + label,
fieldset:first-child li:nth-child(5) input:checked + label {
  background: url(/images/p-content.png);
}

fieldset:first-child li:nth-child(6) label:hover,
fieldset:first-child li:nth-child(6) input:focus + label,
fieldset:first-child li:nth-child(6) input:checked + label {
  background: url(/images/p-growth.png);
}

/* ==========================================================================
   Results & Filter
   ========================================================================== */
form > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  box-sizing: border-box;
}

form > div > div {
  order: 3;
  flex-basis: 40em;
  @media screen and (min-width: 57em) {
    order: 1;
  }
}

.not-found {
  text-align: center;
  margin-top: 5em;
}

form > div > fieldset {
  order: 2;
  flex-grow: 1;
  flex-basis: 15em;
}

form > div > fieldset fieldset {
  margin: 1em 0;
}

legend {
  font-weight: 600;
  padding: 0;
  color: #333;
  margin: 1em 0 0.5em;
}

@media screen and (min-width: 55em) {
  summary {
    display: none;
  }
}
