body {
  background-image: url('images/pattern-trol.png')
}

main {
  background-color: #fff;
  margin: 2em;
  margin-top: 8em;
}

p > a, p> a:visited {
  color: #37c9a2;
}

video {
  width: 50%;
  bottom: 0;
  filter: grayscale(100%);
}
