/* header */
:root {
  --primary-green: #3edfb4;
}

nav {
  background-color: var(--primary-green);
  background-image: url('../images/header-pattern.svg');
  background-size: 300px 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
}

nav a {
  color: inherit;
  padding: 1em;
  text-decoration: none;
}

nav div {
  padding: 1em 0;
  order: -1;
  text-align: center;
}

nav div a {
  background: #6c23b0;
  display: inline-block;
  margin-right: 0.5em;

  &:hover,
  &:focus {
    background-color: #521b85;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  border-bottom: 1px #ebebeb solid;
}

nav ul a {
  background: white;
  color: #999;
  display: block;

  &:hover,
  &:focus {
    background-color: #999;
    color: #fff;
  }
}

@media screen and (min-width: 40em) {
  header > div {
    background-color: var(--primary-green);
    background-image: url('../images/header-pattern.svg');
    background-size: 300px 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 480px;
    padding: 7em;
  }

  header > div img {
    widows: 50%;
    min-width: 550px;
  }

  nav {
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 10;
  }

  nav div {
    display: flex;
    order: 1;
    text-align: inherit;
  }

  nav ul {
    flex: 1;
    text-align: inherit;
  }

  nav li {
    border-bottom: 0;
    float: left;
  }

  nav ul a {
    background: none;
    color: #fff;

    &:hover,
    &:focus {
      color: #21755f;
      background: none;
    }
  }
}

@media screen and (min-width: 60em) {
  header > div img {
    width: 50%;
  }
}

/* login */
.login {
  background-image: url('../images/bg-pattern-pineapples.png');
}

.login main {
  display: flex;
  flex-direction: column;
}

.login main > div {
  background: #fff;
  flex: 1;
}

.login h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
}

.login fieldset {
  border: 0;
  margin: 0;
  padding: 3em;
}

.login h1,
.login fieldset {
  border-bottom: 1px #e0e0e0 solid;
}

.login form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
}

.login form button {
  background: var(--button-pink);
  flex: 1;
  flex-grow: inherit;
  margin-bottom: 1em;
  transition: background 0.2s ease-in-out;

  &:hover,
  &:focus {
    background: var(--button-pink-hover);
    border: 1px var(--button-pink);
    outline: none;
  }
}

.login aside {
  background:
    repeating-linear-gradient(
      -45deg,
      #dedede,
      #fff 1px,
      #dedede 2px,
      #fff 1px
    );
  display: flex;
  padding: 1em 2em;
}

.login aside a {
  border-right: 1px #ccc solid;
  display: block;
  line-height: 1.5;
  padding: 0 0.5em;

  &::after {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjE0NyAxOCAxNyAxMiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2U9IiMyQjlDRUMiIHN0cm9rZS13aWR0aD0iMiI+CiAgICA8cGF0aCBkPSJNMTQ4IDI0aDEyTTE1OCAyMGw0IDQtNCA0Ii8+CiAgPC9nPgo8L3N2Zz4K');
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
  }
}

.login form a,
.login aside a {
  color: #2b9cec;
  text-decoration: none;

  &:hover {
    border-bottom: 1px #2b9cec solid;
  }
}

.login aside a:last-child {
  border-right: 0;
}

.login aside p {
  margin: 0;
  padding-right: 3em;
}

@media screen and (min-width: 40em) {
  .login h1 {
    text-align: left;
  }

  .login aside {
    padding: 3em 2em;
  }
}

@media screen and (min-width: 55em) {
  .login main {
    flex-direction: row;
    max-width: 65%;
  }

  .login aside {
    flex-direction: column;
  }
}

@media screen and (min-width: 70em) {
  .login form > div {
    flex-direction: row;
  }

  .login form button {
    margin-bottom: 0;
  }

  .login aside a {
    border-right: 0;
    padding: 0;
  }

  .login aside p {
    margin: 0 0 1em;
    padding-right: 0;
  }
}
