/* header */
:root {
  --primary-green: #3edfb4;
}

nav {
  background-color: var(--primary-green);
  background-image: url('../images/header-pattern.svg');
  background-size: 300px 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
}

nav a {
  color: inherit;
  padding: 1em;
  text-decoration: none;
}

nav div {
  padding: 1em 0;
  order: -1;
  text-align: center;
}

nav div a {
  background: #6c23b0;
  display: inline-block;
  margin-right: 0.5em;

  &:hover,
  &:focus {
    background-color: #521b85;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  border-bottom: 1px #ebebeb solid;
}

nav ul a {
  background: white;
  color: #999;
  display: block;

  &:hover,
  &:focus {
    background-color: #999;
    color: #fff;
  }
}

@media screen and (min-width: 40em) {
  header > div {
    background-color: var(--primary-green);
    background-image: url('../images/header-pattern.svg');
    background-size: 300px 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 480px;
    padding: 7em;
  }

  header > div img {
    width: 50%;
    min-width: 550px;
  }

  nav {
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 10;
  }

  nav div {
    display: flex;
    order: 1;
    text-align: inherit;
  }

  nav ul {
    flex: 1;
    text-align: inherit;
  }

  nav li {
    border-bottom: 0;
    float: left;
  }

  nav ul a {
    background: none;
    color: #fff;

    &:hover,
    &:focus {
      color: #21755f;
      background: none;
    }
  }
}

@media screen and (min-width: 60em) {
  header > div img {
    width: 50%;
  }
}
