@font-face {
  font-family: 'Roboto';
  src:
    url('/static/lobster-regular-webfont.woff2') format('woff2'),
    url('/static/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-green: #37c9a2;
  --primary-purple: #6c23b0;
  --border-grey: #e6e6e6;
  --button-pink: #ef47a1;
  --button-pink-hover: #eb1889;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

input {
  font-size: inherit;
}

html {
  box-sizing: border-box;
}

:focus {
  border: 1px #6c23b0 solid;
  outline: none;
}

/* general */
body {
  color: #4d4d4d;
  font: 100% system-ui;
  margin: 0;
}

h1 {
  color: #333;
  font-size: 3em;
  font-family: 'Abril Fatface', system-ui;
  font-weight: normal;
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

button,
.button {
  background: var(--primary-purple);
  border: 1px var(--primary-purple);
  border-radius: 2px;
  color: #fff;
  padding: 1em;
}

main {
  padding: 4em 2em;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  main {
    margin: 5.125em auto 0;
  }
}

/* forms */
form label {
  display: block;
}

form input {
  border: 1px #e0e0e0 solid;
  padding: 1em;
  transition: border 0.15s ease-in-out;
  width: 100%;

  &:hover {
    border: 1px var(--primary-purple) solid;
  }
}

form label,
form input {
  margin-bottom: 0.5em;
}

form :last-child {
  margin-bottom: 0;
}

/* footer */
footer {
  background: #f6f6f6;
  border-top: 1px var(--border-grey) solid;
  color: #999;
  display: flex;
  flex-direction: column;
}

footer p {
  border-bottom: 1px var(--border-grey) solid;
  color: #ccc;
  line-height: 0;
  margin: 0;
  padding: 1.5em 1em;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

footer a {
  color: inherit;
  display: block;
  padding: 1em;
  text-decoration: none;

  &:hover {
    color: #37c9a2;
  }

  &:focus {
    background: #999;
    color: #fff;
    outline: none;
  }
}

@media screen and (min-width: 40em) {
  footer {
    flex-direction: row;
    align-items: center;
  }

  footer p {
    border-bottom: 0;
  }

  footer ul:first-of-type {
    flex: 1;
  }

  footer li {
    float: left;
  }
}
