@font-face {
  font-family: 'Roboto';
  src:
    url('/static/lobster-regular-webfont.woff2') format('woff2'),
    url('/static/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-green: #37c9a2;
  --border-grey: #e6e6e6;
}

* {
  font-family: inherit;
}

:focus {
  border: 1px #6c23b0 solid;
  outline: none;
}

/* general */
body {
  font: 100% system-ui;
  margin: 0;
}

h1 {
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

/* footer */
footer {
  background: #f6f6f6;
  border-top: 1px var(--border-grey) solid;
  color: #999;
  display: flex;
  flex-direction: column;
}

footer p {
  border-bottom: 1px var(--border-grey) solid;
  color: #ccc;
  line-height: 0;
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

footer a {
  color: inherit;
  display: block;
  text-decoration: none;

  &:hover {
    color: #37c9a2;
  }

  &:focus {
    background: #999;
    color: #fff;
    outline: none;
  }
}

footer a,
footer p {
  padding: 1em;
}

@media screen and (min-width: 40em) {
  footer {
    flex-direction: row;
    align-items: center;
  }

  footer p {
    border-bottom: 0;
  }

  footer ul:first-of-type {
    flex: 1;
  }

  footer li {
    float: left;
  }
}
