@font-face {
  font-family: 'Abril Fatface';
  src:
    url('/fonts/abrilfatface-regular.woff2') format('woff2'),
    url('/fonts/abrilfatface-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-green: #37c9a2;
  --primary-purple: #6c23b0;
  --border-grey: #e6e6e6;
  --button-pink: #ef47a1;
  --button-pink-hover: #eb1889;
  --button-purple-hover: #521b85;
}

.fonts-loaded h1 {
  font-family: 'Abril Fatface', system-ui;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

input,
button {
  font-size: inherit;
}

html {
  box-sizing: border-box;
}

:focus {
  border: 1px #6c23b0 solid;
  outline: none;
}

/* general */
body {
  color: #4d4d4d;
  font: 100% system-ui;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.1;
  margin: 1em 0;
}

h1 {
  color: #333;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  line-height: 1.5;
  max-width: 35em;
  margin: 0 0 0.5em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
.button {
  background: var(--primary-purple);
  border: 1px var(--primary-purple);
  border-radius: 2px;
  color: #fff;
  padding: 1em;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: var(--button-purple-hover);
  }
}

main {
  padding: 4em 2em;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  main {
    margin: 5.125em auto 0;
  }
}

/* header */
:root {
  --primary-green: #3edfb4;
}

nav {
  background-color: var(--primary-green);
  background-image: url('../images/header-pattern.svg');
  background-size: 300px 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1em;
  top: 0;
  transition: box-shadow 250ms;
}

.shadow {
  box-shadow: 0 0 18px 0 rgba(0,0,0,.2);
}

nav a {
  padding: 1em;
  transition: color 0.2s ease-in-out;
}

nav ul:nth-of-type(2) {
  order: -1;
  align-self: flex-end;
}

nav ul:nth-of-type(2) li {
  display: inline-block;

  &:hover,
  &:focus {
    background-color: #521b85;
  }
}

nav ul:nth-of-type(2) li:first-of-type {
  margin-right: .5em;
}

nav li {
  border-bottom: 1px #ebebeb solid;
}

nav ul a {
  background: white;
  color: #999;
  display: block;

  &:hover,
  &:focus {
    background-color: #999;
    color: #fff;
  }
}

header > section {
  background-color: var(--primary-green);
  background-image: url('../images/header-pattern.svg');
  background-size: 300px 300px;
  box-sizing: border-box;
  max-height: 480px;
  padding: 7em;
}

header > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > section img {
  min-width: 280px;
}

@media screen and (min-width: 40em) {
  nav {
    align-items: center;
    flex-direction: row;
  }

  nav ul:nth-of-type(2) {
    display: flex;
    order: 1;
  }

  nav ul:nth-of-type(1) {
    flex: 1;
    margin-left: 2em;
  }

  nav li {
    border-bottom: 0;
    float: left;
  }

  nav ul:nth-of-type(1) a {
    background: none;
    color: #fff;

    &:hover,
    &:focus {
      color: #21755f;
      background: none;
    }
  }

  header > section img {
    min-width: 550px;
  }

}

/* forms */
form label {
  display: block;
}

form input:not([type=radio], [type=checkbox]) {
  border: 1px #e0e0e0 solid;
  padding: 1em;
  transition: border 0.15s ease-in-out;
  width: 100%;

  &:hover {
    border: 1px var(--primary-purple) solid;
  }
}

form label {
  margin-bottom: 1em;
}

fieldset {
  border: none;
}

/* footer */
footer {
  background: #f6f6f6;
  border-top: 1px var(--border-grey) solid;
  color: #999;
  display: flex;
  flex-direction: column;
}

footer p {
  border-bottom: 1px var(--border-grey) solid;
  color: #ccc;
  line-height: 0;
  margin: 0;
  padding: 1.5em 1em;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

footer a {
  color: inherit;
  display: block;
  padding: 1em;

  &:hover {
    color: #37c9a2;
  }

  &:focus {
    background: #999;
    color: #fff;
    outline: none;
  }
}

@media screen and (min-width: 40em) {
  footer {
    flex-direction: row;
    align-items: center;
  }

  footer a {
    transition: color 0.2s ease-in-out;
  }

  footer p {
    border-bottom: 0;
  }

  footer ul:first-of-type {
    flex: 1;
  }

  footer li {
    float: left;
  }
}
